p{
    font-size: 25px;
}
.container{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
}
.nature{
    height: 200px;
    width: 200px;
    margin: 15px;
    background-color:cadetblue;
    border-radius: 20px;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 25px;
}
.container1{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row-reverse;
}
.container2{
    height: 900px;
    width: 250px;
    background-color:teal;
    display: flex;
    flex-direction:column;
}
.container3{
    height: 900px;
    width: 250px;
    background-color:teal;
    display: flex;
    flex-direction:column-reverse;
}
.container4{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.container5{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.container6{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container7{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container8{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container9{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container10{
    height: 350px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.container11{
    height: 350px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.container12{
    height: 350px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container13{
    height: 350px;
    background-color:teal;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}