p{
    font-size: 25px;
}
.container{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row;
}
.nature{
    height: 200px;
    width: 200px;
    margin: 15px;
    background-color:cadetblue;
    border-radius: 20px;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 20px 25px;
}
.container1{
    height: 250px;
    background-color:teal;
    display: flex;
    flex-direction: row-reverse;
}
.container2{
    height: 900px;
    width: 250px;
    background-color:teal;
    display: flex;
    flex-direction:column;
}
.container3{
    height: 900px;
    width: 250px;
    background-color:teal;
    display: flex;
    flex-direction:column-reverse;
}